
     *
{
    *background: cadetblue;
    *margin: auto;
    
}

.bod
{
   background-color: black;
   
}





body

{
    width:1000px;
    height:2000px;
    padding: 3px;
    border: 3px solid purple;
    display: grid;
    
    
}


#a
{
    background-color: none;
    color:darkviolet;
}







.sec
{
    *background-color: midnightblue;
    padding: 5px;
}
    



#duo

{
    text-align: center;
    width: 100%;
    height: 100px;
    border:3px solid purple;
    border-radius: 30px;
    font-size: 80px;
    *background-color: crimson;
    margin: 3px;
    padding: 5px;
}


#duo1
{
    *background-color: darkviolet;
    color: darkorange;
    font-size: 50px;
    padding: 3px;
    width: 100%;
    height: 50px;
    
}




#duo1a
{
    *background-color: darkviolet;
    color: darkorange;
    font-size: 30px;
    padding: 3px;
    width: 100%;
    height: 200px;
    border: .5px solid darkorange;
    border-radius: 6px;
    font-size: 35px;
    
}


#duo1b
{
    font-size: 35px;
}


#b
{
    color:indigo;
}



#duo3

{
    *background-color: darkviolet;
    color: darkorange;
    width: 100%;
    height: 800px;
    border: 5px solid purple;
    border-radius: 30px;
    align-self: center;
    
}


#emailHelp
{
    font-size: 35px;
}

#duo3a
{
    font-size: 50px;
  
    align-items: center;
}





#exampleInputEmail1
{
    width:90%;
    height:100px;
    background-color: ghostwhite;
    border:3px solid orange;
    border-radius: 10px;
    font-size: 50px;
    color: deeppink;
    
}



#duo3b
{
  
    font-size: 50px;
}



#exampleInputPassword1
{
    width:90%;
    height:100px;
    background-color: ghostwhite;
    font-size: 50px;
    color: deeppink;
    font-style: italic;
}




#duo3c
{
    font-size: 35px;
}


#exampleCheck1
{
 color: aqua;
    font-size: 30px;
}



#duo3d
{
    font-size: 50px
}


#duo3e
{
    color:darkorange;
}


#duo3f
{
    color:goldenrod;
   
    text-align: center;
   
}




#duo4

{
   *height: 1600px;
}
